# Anomaly detection

Por Rodolfo Antonio Zea Posadas

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts

In [3]:
# Leemos los datos normales de entrada
df = pd.read_csv("estaturas - normales.csv")
df

    Estatura  Edad
0       1.77  26.0
1       1.74  31.0
2       1.72  24.0
3       1.78  34.0
4       1.65  32.0
5       1.66   NaN
6       1.64   NaN
7       1.85  34.0
8       1.85  26.0
9       1.75  21.0
10      1.73  23.0
11      1.79   NaN
12      1.82  24.0
13      1.65  25.0
14      1.79  25.0
15      1.72  34.0
16      1.70  26.0
17      1.57  25.0
18      1.66  26.0
19      1.75  27.0
20      1.77  32.0

In [12]:
# Aplicamos feature engineering para sustituir los valores NaN por el valor promedio
df = df.fillna(df.mean())
df

    Estatura  Edad
0       1.77  26.0
1       1.74  31.0
2       1.72  24.0
3       1.78  34.0
4       1.65  32.0
5       1.66  27.5
6       1.64  27.5
7       1.85  34.0
8       1.85  26.0
9       1.75  21.0
10      1.73  23.0
11      1.79  27.5
12      1.82  24.0
13      1.65  25.0
14      1.79  25.0
15      1.72  34.0
16      1.70  26.0
17      1.57  25.0
18      1.66  26.0
19      1.75  27.0
20      1.77  32.0

In [13]:
sts.describe(df)

DescribeResult(nobs=21, minmax=(array([ 1.57, 21.  ]), array([ 1.85, 34.  ])), mean=array([ 1.73142857, 27.5       ]), variance=array([5.40285714e-03, 1.47250000e+01]), skewness=array([-0.27610631,  0.48691817]), kurtosis=array([-0.51698679, -0.83096872]))

In [17]:
# Calculamos la media del dataframe de entrada
u = df.mean()
u

Estatura     0.005403
Edad        14.725000
dtype: float64

In [18]:
# Calculamos la varianza del dataframe
var = df.var()
var

Estatura     0.005403
Edad        14.725000
dtype: float64

In [19]:
norm = sts.norm(u, var)
norm

In [4]:
# Leemos los datos con anomalias
df_anomalias = pd.read_csv("estaturas - anomalias.csv")
df_anomalias

   Estatura   Edad
0      0.25    2.4
1    175.10    2.5
2      0.15  250.0
3    150.00   14.0

In [28]:
# Definimos epsilon
e =  0.1

# Calculamos la probabilidad para los valores en las anomalias
for index, row in df.iterrows():
    p = norm.pdf(row)
    print(p.shape)
    print('La fila: ')
    print(row)
    print('Tiene una probabilidad de: ', p)
    if (p < e).any():
        # Es una anomalia
        print('Se trata de una ANOMALIA')
    else:
        print('Se trata de un valor NORMAL')
        
    print('\n')

(2,)
La fila:
Estatura     1.77
Edad        26.00
Name: 0, dtype: float64
Tiene una probabilidad de:  [6.32499469e-10 2.69526471e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.74
Edad        31.00
Name: 1, dtype: float64
Tiene una probabilidad de:  [20.97765225  0.02633823]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.72
Edad        24.00
Name: 2, dtype: float64
Tiene una probabilidad de:  [7.88275859 0.02633823]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.78
Edad        34.00
Name: 3, dtype: float64
Tiene una probabilidad de:  [2.08262306e-16 2.45777484e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.65
Edad        32.00
Name: 4, dtype: float64
Tiene una probabilidad de:  [3.49930016e-48 2.58567970e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.66
Edad        27.50
Name: 5, dtype: float64
Tiene una probabilidad de:  [8.21930741e-37 2.70928544e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.64
Edad        27.50
Name: 6, dtype: float64
Tiene una probabilidad de:  [4.84564816e-61 2.70928544e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.85
Edad        34.00
Name: 7, dtype: float64
Tiene una probabilidad de:  [1.92201167e-103 2.45777484e-002]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.85
Edad        26.00
Name: 8, dtype: float64
Tiene una probabilidad de:  [1.92201167e-103 2.69526471e-002]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.75
Edad        21.00
Name: 9, dtype: float64
Tiene una probabilidad de:  [0.2007397  0.02457775]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.73
Edad        23.00
Name: 10, dtype: float64
Tiene una probabilidad de:  [7.13025728e+01 2.58567970e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.79
Edad        27.50
Name: 11, dtype: float64
Tiene una probabilidad de:  [2.23041608e-24 2.70928544e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.82
Edad        24.00
Name: 12, dtype: float64
Tiene una probabilidad de:  [3.24384261e-57 2.63382304e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.65
Edad        25.00
Name: 13, dtype: float64
Tiene una probabilidad de:  [3.49930016e-48 2.67051789e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.79
Edad        25.00
Name: 14, dtype: float64
Tiene una probabilidad de:  [2.23041608e-24 2.67051789e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.72
Edad        34.00
Name: 15, dtype: float64
Tiene una probabilidad de:  [7.88275859 0.02457775]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.7
Edad        26.0
Name: 16, dtype: float64
Tiene una probabilidad de:  [3.31511347e-06 2.69526471e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.57
Edad        25.00
Name: 17, dtype: float64
Tiene una probabilidad de:  [1.04049124e-192 2.67051789e-002]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.66
Edad        26.00
Name: 18, dtype: float64
Tiene una probabilidad de:  [8.21930741e-37 2.69526471e-02]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.75
Edad        27.00
Name: 19, dtype: float64
Tiene una probabilidad de:  [0.2007397  0.02707724]
Se trata de una ANOMALIA


(2,)
La fila:
Estatura     1.77
Edad        32.00
Name: 20, dtype: float64
Tiene una probabilidad de:  [6.32499469e-10 2.58567970e-02]
Se trata de una ANOMALIA